body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
  font-size:15px;
}
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:590px;
  height:300px;
margin-left: 220px;
}
nav{
  
  padding-left: 10px;
  
  text-align:center;
  width:700px;
  margin-left: 420px;
}
#featured-property{
  padding-left:200px;
 
  width:800px;
  margin-top: 10px;
}
a{
  margin-left: 30px;
  font-size: 15px;
  

}
p{font-size: 10px;
}
.one{
  margin-top: 30px;
  text-align:center;
  padding-left:100px;
  margin-left:200px;
}
figcaption{
  margin-left: 290px;

}